<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css} "/>
</head>
<body>
    <nav th:insert="basicFrags.html :: nav"></nav>
    <main class="flex-shrink-0">
        <div class="container">
            <div class="mt-4 row row-cols-1 row-cols-sm-3 shadow p-3 bg-white rounded align-items-center">
                <div class="col">Nazwa ksiazki</div>
                <div class="col">Autor</div>
                <div class="col">Ilosc kopii w ksiegarnii</div>
            </div>
            <div th:each="book : ${books}" class="mt-4 row row-cols-1 row-cols-sm-3 shadow p-3 bg-white rounded align-items-center">
                <div th:text="${book.name}" class="col"></div>
                <div  th:text="${book.author.name}"class="col"></div>
                <div  th:text="${book.quantity}"class="col"></div>
            </div>
          <!---<div th:each="book : ${books}">
              <p th:text="${book.name}"></p>
              <p th:text="${book.author.name}"></p>
          </div>--->
        </div>
    </main>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
<style>
    main > .container{
        padding-top: 90px;
        padding-bottom: 34px;
    }
</style>
</html>