<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css} "/>
</head>
<body>

    <nav th:insert="basicFrags.html :: nav"></nav>

    <main class="flex-shrink-0">
        <div class="container">
            <div class="shadow p-3 bg-white rounded keep-h text-start">
                <h2>Projekt na bazy danych</h2>
                <p>&copy Maciej Lisowski</p>
            </div>
        </div>
    </main>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
<style>
    main > .container{
        padding-top: 90px;
        padding-bottom: 34px;
    }
</style>
</html>